@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --primary: #D9D2C7;
    --second: #364FA8;
    --third: #D90B20;
    --fourth: #23d88d;
}

@layer base {
    .bg-primary {
        background-color: var(--primary);
    }
    .bg-second {
        background-color: var(--second);
    }
    .bg-third {
        background-color: var(--third);
    }

}